/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

@import url(https://fonts.googleapis.com/css?family=Merriweather);

.header p {
  font-family: ‘Merriweather’, Georgia, serif;
  text-align: center;
  padding: 10px;
  width: 100vw;
  height: 60px;
  vertical-align: middle;
  
}

.container {
  background: linear-gradient(225deg, #f9fafb, #ececec);
  background-size: 400% 400%;

  -webkit-animation: D3-Container 25s ease infinite;
  -moz-animation: D3-Container 25s ease infinite;
  -o-animation: D3-Container 25s ease infinite;
  animation: D3-Container 25s ease infinite;

  @-webkit-keyframes D3-Container {
      0%{background-position:0% 87%}
      50%{background-position:100% 14%}
      100%{background-position:0% 87%}
  }
  @-moz-keyframes D3-Container {
      0%{background-position:0% 87%}
      50%{background-position:100% 14%}
      100%{background-position:0% 87%}
  }
  @-o-keyframes D3-Container {
      0%{background-position:0% 87%}
      50%{background-position:100% 14%}
      100%{background-position:0% 87%}
  }
  @keyframes D3-Container { 
      0%{background-position:0% 87%}
      50%{background-position:100% 14%}
      100%{background-position:0% 87%}
  }
}